<!DOCTYPE html>
<html>
<head>
	<title>Promo-Site</title>
 <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

     <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

</head>


<body>


 
	<section class="primary"> 
		<div class="primary-inner">
			<h1 class="welcome1 animated bounceInLeft">You should hire me!</h1><h1 class="welcome2 animated bounceInRight">Scroll down</h1>
			<h1 class="why1 animated bounceInUp">To find out why!</h1>	
		</div>
	</section>

	<div class="container animated rotateIn">
		<div class="row">
			<div class="col-md-6">
				<h3>Career Change!</h3>
					<p>Born and raised in Chicago, IL, I was raised in a family full of educators. My dad was a teacher/principal for 35 years in Chicago. My mother has taught all her life and also is an administrator here in the DFW area. Mostly all my aunts are teachers. So you can say that I was already predetermined to be a teacher. I became a teacher because it came natural to me. I've always been good with children. <br><br>
					That being said, I have always loved CHALLENGES, and my time teaching had an expiration date! I am now going on to the next challenge in my life, which was a decision I should have made a while back when I encountered that fork in the road. Technology has always been my first love! That being said, I have made the decision of leaving the comforts of a teaching career into the realm of coding/programming. My love for solving problems, hunger to learn, and drive to not fail is what fuels me now.    </p>
			</div>
		</div>
	</div> 
 
	<section class="secondary"> 
	<div class="background-wrap">
				<%= video_tag "scope.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video-bg-elem" %>
	</div>
		<div class="secondary-inner">
			<h1 class="animated rubberBand animation-iteration-count: infinite animation-delay: 10s">What makes me a good </h1><h1 class="animated rubberBand animation-iteration-count: infinite">Candidate?</h1>	
		</div>
	</section>

	<div class="container animated rotateIn">
		<div class="row">
			<div class="col-md-6">
				<h3>Hungry, Determined and Ready!</h3>
					<p>I have a Bachelors and Masters degree from the University of North Texas. I also graduated from Tech Talent South:Dallas, with a Full Stack Certificate. I am well versed in html, css, bootstrap, jquery, javascript, ruby, ruby on rails, and mySql to name a few. I have other qualifications and general knowledge in a few more technologies. Please feel free to review my resume.<br><br>
					Along with those qualifications, I bring plenty of experience in management, working in team environments, meeting goals and deadlines, and most importantly, creativity. I'm also a very sociable guy, so that always comes in handy! </p>
				</div>
</div>
</div>

<section class="third"> 
		<div class="third-inner">
			<h1 class="animated pulse animation-iteration-count: infinite">Check out my Portfolio</h1><h1 class="animated pulse animation-iteration-count: infinite">Follow the link below</h1>
			<h1 class="animated rotateIn animation-iteration-count: infinite"><a href="https://gustavo2476.carbonmade.com/">Click Here!</a></h1>	
		</div>
	</section>




<script type="text/javascript"></script>
</body>
</html>
